/* Fredoka One Font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.title {
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 50px;
    color: #B4B8FF;
}

.text {
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 25px;
}

.buttonCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    height: 100px;
}

.imageCenter {
    height: 788px;
    width: 1515px;
  }
  

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button {
    opacity: 100%;
}

.button:hover {
    opacity: 70%;
}