/* Fredoka One Font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.title {
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 50px;
    color: #B4B8FF;
}

.text {
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 25px;
}

.buttonCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    height: 100px;
}

.imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.containerbkgd {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

.clouds {
    background-image: url("assets/bkgd.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.tutbkgd {
    background-image: url("assets/tutorialbkgd.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

/* responsive button imgs */
.responsive {
    width: 50%;
    height: auto;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.buttonHover {
    opacity: 100%;
}

.buttonHover:hover {
    opacity: 70%;
}


.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2rem;
    align-items: center;
    height: 90%;
}


